# Python cache
__pycache__/
*.pyc

# Checkpoints
*.pt

# Environments
venv/
env/

# Datasets (❗重要)
data/
dataset/

# Large 3D files (避免上傳)
*.glb

# Logs / outputs
*.log
outputs/

# OS / editor
.DS_Store
.vscode/code/objaverse_to_affogato.py
code/objaverse_to_affogato_v2.py
